{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>IISY webpage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
  <main>
    <div class="issue-screen">
      <div class="iisy_logo">IISY</div>
      <button data-js="info-btn" class="button button--info">i</button>

      <div class="content">
        <!-- <img class="mb-5" height="80px" src="{% static 'assets/IISY_logo.svg' %}" alt="">
                        <h1 class="mb-4">Welcome to IISY </h1> -->
          {% for type in object.types.all %}
          <h1>Report issue for {{type.name}}</h1>
          <form action="new_ticket/" method="post">
            {% csrf_token %}
            <input class="mt-4 button button--issue" type="submit" value="Send someone to fix it" name={{type.name}}>
          </form>          
          {% endfor %}

        <p class="mt-5">
          You're using {{customer.name}}'s issue report system in
          {{object.department.name}}
        </p>
        <img src={{object.department.logo}} alt="" height="70">
      </div>
      <p class="provider">
        Provided by <a href="http://www.newdomain.live/">IISY</a>
      </p>
    </div>
    <p class="provider">
      Provided by <a href="http://www.newdomain.live/">IISY</a>
    </p>
    </div>

    <div class="info-screen">
      <h1>Information</h1>
      <p>
        IISY allows end-users to report issues, which makes maintenance work
        more efficient in companies.
      </p>
      <p>
        The system works by allowing you to scan QR-codes placed on devices.
        When you have scanned the QR-code, all you need to do is press the
        <strong>Send someone to fix it</strong> button. This will send the
        issue report, informing maintenance that the device is in need of
        attention.
      </p>
    </div>
  </main>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
